<div class="container">    
    <h2>Contato</h2>
    <div class="container">        
        {{outlet}}
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Mensagem</th>
                    <th scope="col">Data</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each model as |item|}}
                    <tr>
                        <td>{{item.nome}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.mensagem}}</td>
                        <td>{{item.dataEnvio}}</td>
                        <td><button class="btn btn-danger" {{action 'deleteContato' item}}>{{fa-icon "trash-o"}}</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>