<div class="container">     
    <h2>Tipos de ONG {{#link-to "admin.ong-tipo.new" tagName="a" class="btn btn-primary pull-right"}}{{fa-icon "plus"}}{{/link-to}}</h2>
    <div class="container">        
        {{outlet}}
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each sortedModel as |item|}}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>
                            {{#link-to "admin.ong-tipo.edit" item.id tagName="a" class="btn btn-primary"}}{{fa-icon "pencil-square-o"}}{{/link-to}}
                            <button class="btn btn-danger" {{action 'deleteOngTipo' item}}>{{fa-icon "trash-o"}}</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>