<div class="container">        
    <h2>ONGs {{#link-to "admin.ong.new" tagName="a" class="btn btn-primary pull-right"}}{{fa-icon "plus"}}{{/link-to}}</h2>
    <div class="container">        
        {{outlet}}
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Trabalhos</th>
                    <th scope="col">Favorecidos</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Localização</th>
                    <th scope="col">Cidade</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each sortedModel as |item|}}
                    <tr>
                        <td>{{item.nome}}</td>
                        <td>{{item.ongTipo.nome}}</td>                        
                        <td>{{item.descricao}}</td>
                        <td>{{item.trabalhos}}</td>
                        <td>{{item.favorecidos}}</td>
                        <td>{{item.endereco}}</td>
                        <td>{{item.localizacao}}</td>
                        <td>{{item.cidade.nome}}</td>
                        <td>
                            {{#link-to "admin.ong.edit" item.id tagName="a" class="btn btn-primary"}}{{fa-icon "pencil"}}{{/link-to}}
                            <button class="btn btn-danger" {{action 'deleteOng' item}}>{{fa-icon "trash-o"}}</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>