<div class="container">
    <h1>ONG</h1>
    <hr />
    <div class="col-md-8 col-md-offset-2 well">
        {{#link-to "ongs"}}{{fa-icon "arrow-left"}}{{/link-to}}
        <h3>Nome</h3>
        <p>{{model.nome}}</p>
        <h3>Descrição</h3>
        <p>{{model.descricao}}</p>
        <h3>Trabalhos</h3>
        <p>{{model.trabalhos}}</p>
        <h3>Favorecidos</h3>
        <p>{{model.favorecidos}}</p>
        <h3>Endereço</h3>
        <p>{{model.endereco}}</p>
        <h3>Cidade</h3>
        <p>{{model.cidade.nome}}</p>
        <h3>Tipo</h3>
        <p>{{model.ongTipo.nome}}</p>
        <hr />
        <div style="text-align:right;">
            {{#link-to "ongs" class="btn btn-primary"}}Voltar{{/link-to}}
        </div>        
    </div>
</div>