<div class="container">
    <h1>ONG</h1>
    <hr />
    <div class="col-md-8 col-md-offset-2 well">
        {{#link-to "ongs"}}{{fa-icon "arrow-left"}}{{/link-to}}
        {{#if model.hasNome}}
            <h3>Nome</h3>
            <p>{{model.nome}}</p>    
        {{/if}}
        {{#if model.hasOngTipo}}
            <h3>Tipo</h3>
            <p>{{model.ongTipo.nome}}</p>
        {{/if}} 
        {{#if model.hasDescricao}}
            <h3>Descrição</h3>
            <p>{{model.descricao}}</p>
        {{/if}}
        {{#if model.hasTelefone}}
            <h3>Telefone</h3>
            <p>{{model.telefone}}</p>
        {{/if}}
        {{#if model.hasEmail}}
            <h3>E-mail</h3>
            <p>{{model.email}}</p>
        {{/if}}
        {{#if model.hasSite}}
            <h3>Site</h3>
            <p>{{model.site}}</p>
        {{/if}}
        {{#if model.hasFacebook}}
            <h3>Facebook</h3>
            <p>{{model.facebook}}</p>
        {{/if}}        
        {{#if model.hasInstagram}}
            <h3>Instagram</h3>
            <p>{{model.instagram}}</p>
        {{/if}}
        {{#if model.hasTrabalhos}}
            <h3>Trabalhos</h3>
            <p>{{model.trabalhos}}</p>
        {{/if}}      
        {{#if model.hasFavorecidos}}
            <h3>Favorecidos</h3>
            <p>{{model.favorecidos}}</p>
        {{/if}}
        {{#if model.hasEndereco}}
            <h3>Endereço</h3>
            <p>{{model.endereco}}</p>
        {{/if}}
        {{#if model.hasCidade}}
            <h3>Cidade</h3>
            <p>{{model.cidade.nome}} - {{model.cidade.estado.sigla}}</p>
        {{/if}}       
        <hr />
        <div style="text-align:right;">
            {{#if model.hasFacebook}}
                <a class="btn btn-primary" href={{model.facebook}} target="_blank">{{fa-icon "facebook"}}</a>
            {{/if}}
            {{#if model.hasInstagram}}
                <a class="btn btn-primary" href={{model.instagram}} target="_blank">{{fa-icon "instagram"}}</a>
            {{/if}}
            {{#link-to "ongs" class="btn btn-primary"}}Voltar{{/link-to}}
        </div>        
    </div>
</div>